{% extends 'ECMAdminBundle::layout.html.twig' %}

{% block titre %}
<h1>Liste des Sponsors</h1>
{% endblock %}
{% block body -%}

    <table class="records_list">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Urlimage</th>
                <th>Lien</th>
                <th>Ordre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.urlImage }}</td>
                <td>{{ entity.lien }}</td>
                <td>{{ entity.ordre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_sponsor_show', { 'id': entity.id }) }}">afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_sponsor_edit', { 'id': entity.id }) }}">éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_sponsor_new') }}">
                Ajouter un nouveau sponsor
            </a>
        </li>
    </ul>
    {% endblock %}
