{% extends 'ECMAdminBundle::layout.html.twig' %}

{% block body -%}
    <h1>Sponsor</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Urlimage</th>
                <td>{{ entity.urlImage }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ entity.lien }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ entity.ordre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_sponsor') }}">
            Retourner à la liste des sponsors
        </a>
    </li>
    <li>
        <a href="{{ path('admin_sponsor_edit', { 'id': entity.id }) }}">
            Éditer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
