{% extends 'ECMHomeBundle::layout.html.twig' %}




{% block titre %}
    <h1>{{ menu }}</h1>

{% endblock %}


{% block body %}
    {% for article in articles %}

        <h2>{{ article.titre | capitalize }} </h2>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ article.corps | raw }}</p>
                <ul class="list-inline">
                    {% if article.auteur is defined %}
                        <li>
                            <span><i class="glyphicon glyphicon-pencil"></i> {{ article.auteur }}</span>
                        </li>
                    {% endif %}
                    <li>
                        <span><i class="glyphicon glyphicon-calendar"></i> {{ article.date | date('Y-m-d') }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}